body {
  overflow: hidden;
  height: 100%; }

body.closed {
  opacity: 0;
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
  -webkit-transform: scale(1.7);
  transform: scale(1.7); }

body.open {
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none; }

body.hide {
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

.icon {
  overflow: visible; }

.main-switch-container {
  padding: 16px; }
  .main-switch-container .settings-button {
    vertical-align: middle;
    margin-right: 16px;
    border-radius: 50%; }
    .main-switch-container .settings-button div {
      display: block;
      margin: -11px auto 0 auto; }
  .main-switch-container h5 {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
  .main-switch-container .mdl-switch {
    float: right;
    display: inline-block;
    width: 0;
    margin-top: 8px; }
  .main-switch-container .save-button {
    float: right; }

.outer-hr {
  margin: 0;
  margin-left: 8px;
  width: calc(100% - 16px); }

.main-container {
  padding: 16px; }
  .main-container .mdl-progress {
    width: 100%; }
  .main-container .advanced-button {
    margin: 16px 8px 0 0; }
  .main-container .autostart_fix {
    width: 150px;
    display: inline-block;
    margin-top: 17px;
    float: right; }
  .main-container .logs {
    position: absolute;
    top: 180px;
    height: calc(100% - 200px);
    width: calc(100% - 32px);
    overflow-y: scroll;
    overflow-x: auto;
    opacity: 0;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .main-container .logs ul {
      list-style: none;
      font-family: 'roboto';
      padding: 0;
      margin: 0; }
    .main-container .logs li {
      text-transform: uppercase;
      padding: 8px 8px; }
      .main-container .logs li div {
        vertical-align: middle;
        margin-right: 8px;
        background: #EEFF41;
        border: 1px solid #576844;
        padding: 5px;
        border-radius: 50%;
        fill: #576844; }
  .main-container .logs.visible {
    opacity: 1; }
  .main-container .logs::-webkit-scrollbar-button {
    height: 0;
    width: 0; }
  .main-container .logs::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px; }
  .main-container .logs::-webkit-scrollbar-corner {
    background: transparent; }
  .main-container .logs::-webkit-scrollbar {
    width: 6px; }
  .main-container .logs::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-width: 5px;
    background-color: #8BC34A;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
  .main-container .logs:active::-webkit-scrollbar-thumb {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
  .main-container .bridges-container {
    z-index: 2; }
  .main-container .mdl-card {
    display: inline-flex;
    margin: 8px;
    min-height: 0;
    overflow: visible; }
    .main-container .mdl-card .mdl-card__title-text {
      width: 100%; }
      .main-container .mdl-card .mdl-card__title-text .mdl-switch {
        width: 0;
        position: absolute;
        right: 24px;
        top: 20px; }
    .main-container .mdl-card .mdl-card__actions {
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0;
      height: 0;
      padding: 16px;
      overflow: hidden; }
      .main-container .mdl-card .mdl-card__actions .proxy__dropdown, .main-container .mdl-card .mdl-card__actions .bridges__dropdown {
        padding: 8px 16px; }
        .main-container .mdl-card .mdl-card__actions .proxy__dropdown button, .main-container .mdl-card .mdl-card__actions .bridges__dropdown button {
          vertical-align: baseline; }
    .main-container .mdl-card .mdl-card__actions.expand {
      opacity: 1; }
    .main-container .mdl-card .mdl-card__actions.proxycard {
      height: 200px;
      overflow: visible; }
    .main-container .mdl-card .mdl-card__actions.cportcard {
      height: 64px; }
      .main-container .mdl-card .mdl-card__actions.cportcard .mdl-textfield {
        padding: 0; }
    .main-container .mdl-card .mdl-card__actions.acsportcard {
      height: 90px; }
    .main-container .mdl-card .mdl-card__actions.bridgescard {
      height: 240px; }
    .main-container .mdl-card .mdl-card__supporting-text {
      padding-top: 0; }
      .main-container .mdl-card .mdl-card__supporting-text h5:first-of-type {
        margin-top: 0; }
      .main-container .mdl-card .mdl-card__supporting-text img {
        border-radius: 50%;
        margin: 0 16px;
        display: block; }

.mdl-menu__item.selected {
  background-color: rgba(0, 0, 0, 0.2); }

#bridges_text, #proxy_text_outer {
  width: 225px;
  display: inline-block;
  text-align: left; }

.main-container--scroll {
  position: absolute;
  overflow-y: scroll;
  overflow-x: auto;
  width: calc(100% - 40px);
  height: calc(100% - 107px); }

.main-container--scroll::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

.main-container--scroll::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px; }

.main-container--scroll::-webkit-scrollbar-corner {
  background: transparent; }

.main-container--scroll::-webkit-scrollbar {
  width: 6px; }

.main-container--scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-width: 5px;
  background-color: #8BC34A;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }

.main-container--scroll:active::-webkit-scrollbar-thumb {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.main-switch-container--centered {
  text-align: center; }

.h6padding--fix {
  padding: 16px 16px 0 16px;
  margin: 0; }
  .h6padding--fix .advanced-button {
    float: right;
    margin: -6px 8px 0 0; }

.error-text-container {
  text-align: center;
  position: fixed;
  top: 15px;
  width: 100%;
  pointer-events: none; }
  .error-text-container .error-text {
    display: inline-block;
    margin: 2px 0;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #F44336;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    opacity: 0;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .error-text-container .error-text .error-text-button {
      display: inline-block;
      background-color: #fff;
      color: #F44336;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 6px; }
      .error-text-container .error-text .error-text-button svg {
        padding: 2px;
        border-radius: 50%; }

.error-text-container.visible {
  pointer-events: all; }
  .error-text-container.visible .error-text {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }

.error-indicator {
  display: block;
  position: absolute;
  pointer-events: none;
  background-color: rgba(244, 67, 54, 0.7);
  width: 16px;
  height: 16px;
  border-radius: 50%; }

.z-index--2 {
  z-index: 2; }

.main-container--centered {
  position: fixed;
  display: block;
  top: calc(50% - 61px);
  width: calc(100% - 32px); }
  .main-container--centered .mdl-progress {
    width: 100%; }

.first-time-dialog--overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .first-time-dialog--overlay .demo-card-square {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0); }
    .first-time-dialog--overlay .demo-card-square #ok_button {
      display: block;
      margin: 0 auto; }

.first-time-dialog--overlay.visible {
  opacity: 1;
  pointer-events: all; }

body.dark {
  background: #172026; }
  body.dark h1, body.dark h2, body.dark h3, body.dark h4, body.dark h5, body.dark h6, body.dark li, body.dark .mdl-checkbox__label, body.dark #proxy_text, body.dark #ok_button {
    color: #fff; }
  body.dark .mdl-checkbox__box-outline {
    border-color: #fff; }
  body.dark .mdl-switch:not(.is-checked) .mdl-switch__track {
    background: #537A94; }
  body.dark .mdl-card {
    background-color: #1F4B69; }
    body.dark .mdl-card .mdl-card__supporting-text, body.dark .mdl-card .mdl-radio__label, body.dark .mdl-card .proxy__dropdown, body.dark .mdl-card .bridges__dropdown {
      color: #fff; }
    body.dark .mdl-card .proxy__dropdown div, body.dark .mdl-card .bridges__dropdown div {
      fill: #fff; }
    body.dark .mdl-card .mdl-card__actions.mdl-card--border {
      border-top: 1px solid rgba(255, 255, 255, 0.5); }
    body.dark .mdl-card .mdl-textfield__label {
      color: #4386B3; }
    body.dark .mdl-card .mdl-textfield__input {
      color: #fff;
      border-bottom: 1px solid #4386B3; }
    body.dark .mdl-card .mdl-menu {
      background-color: #537A94; }
    body.dark .mdl-card .mdl-menu__item:focus, body.dark .mdl-card .mdl-menu__item:hover {
      background-color: #2F536B; }
  body.dark .mdl-menu__outline {
    background-color: #163F5A; }
